.posting {
    color: white;
    background-color: #595959;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    height: 20px;
}

.company {
    font-family: 'Gotham-Black';
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.posted {
    color: #B4B4B4;
    font-family: 'Helvetica-Regular';
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    font-family: 'Gotham-Medium';
}

.tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.content {
    font-family: 'Helvetica-Regular';
}

.results {
    padding-bottom: 50px;
}

.lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    column-gap: 20px;
    row-gap: 50px;
}

.listing {
    list-style: none;
    flex-basis: 33.333333%;
}

.listing > a, .listing > a > div {
    height: 100%;
}

.buttonwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.buttonMore {
    background-color: transparent;
    color: #CE9178;
    border: 2px solid #CE9178;
    padding: 10px 20px;
    font-family: 'Menlo-Regular';
    border-radius: 10px;
    cursor: pointer !important;
}

.buttonMore:hover {
    background-color: #CE9178;
    color: #191A1D;
}