.front {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    max-width: 1250px;
}

.headline {
    color: white;
    font-family: 'Gotham-Black';
    font-size: 75px;
    margin: 0;
}

.openings {
    color: white;
    font-family: 'Gotham-Black';
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subheadline {
    font-family: 'Helvetica-Regular';
    color: #C1C0C0;
    font-size: 30px;
    max-width: 475px;
}

.left {
    max-width: 670px;
}

.emailSubmit {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.field {
    font-family: 'Helvetica-Regular';
    color: #C1C0C0;
    font-size: 22px;
    width: 70%;
    padding: 15px 20px;
    border-radius: 15px;
}

.submit {
    width: 30%;
    background-color: #4CD5AD;
    border: none;
    border-radius: 15px;
    font-family: 'Helvetica-Regular';
    color: black;
    font-size: 22px;
}

.radialGreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
    background-image: radial-gradient(
        ellipse at top left,
        rgb(76, 213, 173, 0.6),
        rgb(76, 213, 173, 0) 50%
    );
    z-index: 0;
    animation: fade 3s infinite;
}  

.radialBlue {
    position: absolute;
    right: 0;
    width: 500px;
    height: 1500px;
    background-image: radial-gradient(
        ellipse at right,
        rgb(12, 43, 186, 0.8),
        rgb(12, 43, 186, 0) 50%
    );
    z-index: 0;
    animation: fade 3s infinite;
}  

@keyframes fade {
    0%,100% { opacity: 1 }
    50% { opacity: 0.6 }
}

.options {
    color: #4CD5AD;
}

.points {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pointsDetails {
    color: white;
    font-family: 'Menlo-Regular';
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 10px;
}

.pointsDetails p {
    margin: 0;
}

.pointsDesc {
    color: #C1C0C0;
    font-size: 18px;
}

.divider {
    background-color: white;
    border: 1px solid white;
}

.code {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.codeBar {
    background-color: #595959;
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.3);
    position: relative;
}

.codeText {
    background-color: #2D2D2D;
    width: 100%;
    font-family: 'Menlo-Regular';
    font-size: 30px;
    color: white;
    padding: 10px 30px;
    padding-bottom: 30px;
}

.fieldSearch {
    background-color: transparent;
    border: none;
    font-family: 'Menlo-Regular';
    font-size: 30px;
    color: #CE9178;
}

.fieldSearch::placeholder {
    color: #CE9178;
    opacity: 1;
}

.lineNumber {
    color: #858585;
    font-size: 22px;
}

.import {
    color: #C083BB;
}

.re {
    color: #4CC0A9;
}

.emphasis {
    font-family: 'Helvetica-Oblique';
}

.tab {
    background-color: #2D2D2D;
    height: 100%;
}

.tab p {
    color: #969696;
    font-family: 'Helvetica-Oblique';
    font-size: 15px;
    margin: 10px;
}

.results {
    padding-bottom: 50px;
}

.results div ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    column-gap: 20px;
    row-gap: 50px;
}

.results > div > ul > li {
    list-style: none;
    flex-basis: 33.333333%;
}  

.results > div > ul > li > a {
    height: 100%;
}

.sort > div {
    display: inline;
}

.sort > div > select {
    background-color: transparent;
    border: none;
    font-family: 'Menlo-Regular';
    font-size: 30px;
    color: #CE9178;
}

.results > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.results > div > button {
    background-color: transparent;
    color: #CE9178;
    border: 2px solid #CE9178;
    padding: 10px 20px;
    font-family: 'Menlo-Regular';
    border-radius: 10px;
    cursor: pointer !important;
}

.results > div > button:hover {
    background-color: #CE9178;
    color: #191A1D;
}